@use "../helpers/" as *;

.reviews {
  padding-top: rem(80);
  padding-bottom: rem(30);

  @include mobile {
    padding-top: 50px;
  }
}

.reviews__container {
  max-width: 100%;
  padding-inline: rem(46);
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    padding-inline: 14px;
  }
}

.reviews__title {
  margin-bottom: rem(40);

  @include mobile {
    margin-bottom: rem(20);
  }

  span {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: rem(20);
    text-align: center;
    color: var(--color-text);

    @include mobile {
      font-size: 13px;
    }
  }
}

.reviews__slider {
  max-width: 100%;
  min-height: rem(325);
  padding-bottom: rem(15);
  display: flex;
  overflow: hidden;

  @include mobile {
    min-height: auto;
  }
}

.reviews__list {
  width: 100%;
  display: flex;
  gap: rem(20);
}

.reviews__item {
  width: rem(414);
  height: rem(279);
  margin-top: rem(15);
  padding: rem(18);
  flex-shrink: 0;
  border: 2px solid var(--color-brown);
  border-radius: rem(63) rem(18) rem(45) rem(18);
  box-shadow: 3px 3px 11px 0 rgba(139, 69, 19, 0.3);
  background: var(--color-bg);
  display: flex;
  justify-content: space-between;
  position: relative;

  @include mobile {
    width: 100%;
    height: 329px;
    padding: 20px;

    .reviews__item-text {
      max-width: 400px !important;
      font-size: 14px;
    }

    .reviews__item-author {
      position: absolute;
      top: 20px;
      right: 20px;

      & > img {
        width: rem(42) !important;
        height: rem(42) !important;
        border-radius: 17px 8px !important;
      }
    }
  }

  &--active {
    width: rem(460);
    height: rem(310);
    margin-top: 0;
    padding: rem(20);
    border-radius: rem(70) rem(20) rem(50) rem(20);
    box-shadow: 3px 3px 12px 0 rgba(139, 69, 19, 0.3);

    transition: height 0.4s ease;

    .reviews__item-text {
      max-width: rem(300);
      margin-top: rem(48);
      font-size: rem(14);
      //   transition: font-size 0.1s ease 0.7s;
    }

    .reviews__item-author {
      & > img {
        width: rem(100);
        height: rem(100);
        box-shadow: 3px 3px 12px 0 rgba(139, 69, 19, 0.3);
        border-radius: rem(40) rem(20);
        // transition: all 0.2s ease 0.5s;
      }
    }

    .reviews__item-decoration {
      width: rem(50);
      height: rem(50);
    }
    .reviews__item-quote {
      width: rem(52);
      height: rem(52);

      //   transition: all 0.2s ease 0.5s;
    }
  }
}

.reviews__item-text {
  max-width: rem(270);
  margin-top: rem(43);
  font-family: var(--second-family);
  font-weight: 400;
  font-size: rem(12);
  color: var(--color-text);

  @include mobile {
    margin-top: 47px;
    max-height: 210px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 10;
    -webkit-line-clamp: 10;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.reviews__item-author {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(4);

  @include mobile {
    flex-direction: row-reverse;
    height: fit-content;

    & > img {
      width: 42px;
      height: 42px;
    }
  }

  &--debug {
    & > img {
      filter: brightness(3);
    }
  }

  & > img {
    width: rem(90);
    height: rem(90);
    box-shadow: 3px 3px 12px 0 rgba(139, 69, 19, 0.3);
    border-radius: rem(36) rem(18);
  }

  & > address {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: rem(14);
    text-align: center;
    color: var(--color-text);
  }
}

.reviews__item-decoration {
  width: rem(45);
  height: rem(45);
  position: absolute;
  top: 0;
  left: 0;
  translate: -4% -4%;
}

.reviews__item-quote {
  width: rem(47);
  height: rem(48);
  position: absolute;
  bottom: rem(27);
  right: rem(27);

  @include mobile {
    bottom: 8px;
    right: 20px;
  }
}
